**/__pycache__/
**/dist/
**/build/
**/vllm_hymeta.egg-info/
**/*nohup.log*/
**/*.log*
**/debug_logs/
**/debug_txt_logs/*
*.pt
qwen3-14b-ckpt/
unsloth_compiled_cache/
datasets/
spikingbrain-qwen3-converted/
